[submodule "TrackEval"]
	path = TrackEval
	url = git@github.com:chanwutk/TrackEval.git
[submodule "DalsooBinPacking"]
	path = DalsooBinPacking
	url = git@github.com:chanwutk/Dalsoo-Bin-Packing.git
[submodule "boxmot"]
	path = boxmot
	url = git@github.com:chanwutk/boxmot.git
[submodule "strongsort"]
	path = strongsort
	url = git@github.com:apperception-db/strongsort.git
	branch = module
